@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add Flavor</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("-- Select Flavor --")
  <br />
  @Html.DropDownList("FlavorId", null, new { @class = "form-control", required = "required" })
  <input type="submit" value="Add Flavor" class="btn btn-outline-success" />
}
<hr />
<p class="new"><a href='/treats/'>Back <span class="material-symbols-outlined">arrow_back</span></a></p>