@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>New Treat</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    @Html.TextBoxFor(model => model.Name, new { placeholder= "Name of Treat", @class = "form-control" })
    <input type="submit" value="Add Treat" class="btn btn-outline-primary" />
  }
<br />
<p class="new"><a href='/treats/'><span class="material-symbols-outlined">arrow_back</span></a></p>