@{
  Layout = "_Layout";
}

@{
    ViewData["Title"] = "Create Role";
}
  
<h2 class="text-black"><span class="material-symbols-outlined">person_add</span> Create Role</h2>

<div asp-validation-summary="All" class="text-danger"></div>
  
<form asp-action="Create" method="post">
  <div class="form-group">
    <input name="name" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
  <a href="/Role/Index" class="btn btn-secondary">Back</a>
</form>