@{
  Layout = "_Layout";
}

@model IEnumerable<IdentityRole>
@using System.Collections.Generic;
@using PierresTreats.Models;
@using Microsoft.AspNetCore.Identity;


@{
    ViewData["Title"] = "Delete Roles";
}

<h2 class="text-black">Delete Roles</h2>

@using (Html.BeginForm("Delete", "Role", FormMethod.Post))
{
  @Html.AntiForgeryToken()

  @Html.DropDownList("UserId", ViewBag.UsersList as SelectList, "-- Select a User --", new { @class = "form-control" })
  @Html.DropDownList("RoleName", ViewBag.RolesList as SelectList, "-- Select a Role --", new { @class = "form-control" })
  <button type="submit" class="btn btn-danger">Delete Role</button>
}

<a href="/Role" class="btn btn-secondary">Back to Roles</a>