html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(../img/PierresTreats.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-size: 1.3em;
  color: rgb(49, 49, 49);
  background-attachment: fixed;
  font-family: 'Playfair', serif;
}

body::before {
  content: "";
  background: rgba(255, 255, 255, 0.722); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
}

h1 {
  font-size: 85px;
  font-weight: bolder;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 50px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 28px;
}

#text-dark {
  font-size: 1em;
  color: black;
  float: right;
  margin-right: 10px;
}

a:hover {
  color: rgb(0, 221, 255);
}

p {
  margin-bottom: 2px;
}

.container {
  height: 375px;
  max-height: 385px;
  width: 850px;
  max-width: 500px;
  margin: auto;
  margin-top: 75px;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
  padding-right: 17px;
  box-sizing: content-box;
}

.navigation {
  margin: auto;
  margin: 75px 0 0 1px;
  height: 315px;
  max-height: 350px;
  width: 225px;
  position: fixed;
}

.navbar-brand {
  font-size: 38px;
}

@media (max-width: 992px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }

  .container .btn {
    width: 300px; 
  }

  .container .btn-outline-danger {
    width: 10px;
    margin: auto;
    margin-left: 10px;
    padding-right: 18px;
  }

  .container h1 {
    font-size: 80px;
  }
}

@media (max-width: 656px) {
  .container {
    width: 650px;
    margin: auto;
  }

  .container .btn {
    width: 280px;
  }
  
  .container .btn-outline-danger {
    width: 10px;
    margin: auto;
    margin-left: 12px;
    padding-right: 18px;

  }

  .container h1 {
    font-size: 65px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 575px;
    margin: auto;
  }

  .container .btn {
    width: 280px;
  }

  .container .btn-outline-danger {
    width: 5px;
    margin: auto;
    margin-left: 10px;
    padding-right: 18px;
  }

  .container h1 {
    margin: auto;
    font-size: 50px;
  }
}

@media (max-width: 560px) {
  .container {
    width: 500px;
    height: 350px;
    margin: auto;
  }

  .container .btn {
    width: 250px;
  }

  .container .btn-outline-danger {
    width: 5px;
    margin: auto;
    margin-left: 15px;
    padding-right: 18px;
  }

  .container h1 {
    font-size: 50px;
  }
}

@media (max-width: 556px) {
  .container {
    width: 500px;
    height: 350px;
    margin: auto;
  }

  .container .btn {
    width: 250px;
  }

  .container .btn-outline-danger {
    width: 5px;
    margin: auto;
    margin-left: 15px;
    padding-right: 18px;
  }

  .container h1 {
    font-size: 50px;
  }
}

@media (max-width: 525px) {
  .container {
    width: 500px;
    height: 350px;
    margin: auto;
  }

  .container .btn {
    width: 245px;
  }

  .container .btn-outline-danger {
    width: 5px;
    margin: auto;
    margin-left: 2px;
    padding-right: 18px;
  }

  .container h1 {
    font-size: 50px;
  }
}


@media (max-width: 444px) {
  .container {
    width: 400px;
    height: 350px;
    margin: auto;
  }

  .container .btn {
    width: 230px;
  }

  .container .btn-outline-danger {
    width: 5px;
    margin: auto;
    margin-left: 2px;
    padding-right: 18px;
  }

  .container h1 {
    font-size: 50px;
  }
}

@media (max-width: 338px) {
  .container {
    width: 300px;
    height: 350px;
    margin: auto;
  }

  .container .btn {
    width: 240px;
  }

  .container .btn-outline-danger {
    width: 5px;
    margin: auto;
    margin-left: 1px;
    padding-right: 18px;
  }

  .container h1 {
    font-size: 50px;
  }
}

.form-control
{
  text-align: center;
}

.btn {
  width: 325px;
  margin-top: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.index-new {
  margin: auto;
  font-size: 40px;
}

.new {
  margin: auto;
  font-size: 40px;
}

.zero {
  color: rgba(246, 78, 78, 0.864);
}

.btn-outline-danger {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  margin: auto;
  margin-left: 15px;
  margin-bottom: 5px;
}

.btn-outline-danger:hover {
  background-color: transparent;
  color: red;
}

.indent {
  margin: auto;
  margin-left: 35px;
}

.name {
  font-size: 40px;
  font-weight: bolder;
}

.left {
  float: left;
  width: 50%;
  overflow: auto;
}

.right {
  float: right;
  width: 50%;  
  overflow: auto;
}