@{
  Layout = "_Layout";
}

<h2><span class="material-symbols-outlined">person</span> Account</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}
<p class="new"><a href='/flavors/'><span class="material-symbols-outlined">arrow_back</span></a></p>