@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor;
@using PierresTreats.Models;

<h3 class="name">@Html.DisplayFor(selectedFlavor => selectedFlavor.Type)</h3>
<h3><em>Treats</em></h3>
<hr/>

@if (Model.JoinEntities.Count == 0)
{
  <p class="zero">* No treats available.</p>
}
else
{
  @foreach (TreatFlavor available in Model.JoinEntities)
  {
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @available.TreatFlavorId)
      <p class="indent">
        @Html.ActionLink($"{available.Treat.Name}", "Details", "Treats", new { id = available.TreatId})
        <input type="submit" value="X" id="X" class="btn btn-outline-danger btn-sm"/>
      </p>
    }
  }
}

<p class="new"><a href='/flavors/addtreat/@Model.FlavorId'>Add Treat <span class="material-symbols-outlined">add</span></a></p>
<p class="new"><a href='/flavors/edit/@Model.FlavorId'>Edit <span class="material-symbols-outlined">edit</span></a></p>
<p class="new"><a href='/flavors/delete/@Model.FlavorId'>Delete <span class="material-symbols-outlined">delete_forever</span></a></p>
<p class="new"><a href='/treats/'><span class="material-symbols-outlined">arrow_back</span></a></p>