@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor;
@using PierresTreats.Models;

<h3 class="name">@Html.DisplayFor(selectedFlavor => selectedFlavor.Type)</h3>
<hr/>
<p><strong>Treats</strong></p>

@if (Model.JoinEntities.Count == 0)
{
  <p class="zero">* No treats available.</p>
}
else
{
  @foreach (TreatFlavor available in Model.JoinEntities)
  {
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @available.TreatFlavorId)
      <p class="indent">
        &rarr;  @Html.ActionLink($"{available.Treat.Name}", "Details", "Treats", new { id = available.TreatId})
        <input type="submit" value="X" id="X" class="btn btn-outline-danger btn-sm"/>
      </p>
    }
  }
}